.leftlink{
    display:flex;
    flex-direction: column;
   
   
    
}
.title__hello{
    color:white;
    font-size: 30px;
    
    font-family:'Roboto', sans-serif;
}
.title__abhi{
    color:white;
    font-size: 20px;
    
    font-family:'Roboto', sans-serif;
}
.leftlink{
    margin-top:119px;
    margin-left:230px;
}
.subtitle{
    
    margin-top:50px;
}
.code{
    font-weight: bolder;
}
.para{
    color:white;
    font-size:25px;
    font-family:'Roboto', sans-serif;
    width:80%;
}
.left__link{
    display: flex;
    
    cursor: pointer;
    margin-top:100px;
    width:80%;
    justify-content: space-between;
}
