.socialicon{
    display: flex;
    flex-direction: column;
    border:1px solid white;
    border-radius:10px;
    width:190px;
    
}
.social__upper{
   display:flex;
   align-items: center;
   padding-left:20px;
   padding-right: 20px;
   padding-top:20px;
   justify-content: space-between;
}
.social__lower{
    display:flex;
    align-items: center;
    padding-left:20px;
    padding-right: 20px;
    padding-top:10px;
     
}
.social__icon > .MuiSvgIcon-root{
    font-size: 90px;
    
}
.social__icon{
    color:white;
       
}

.name{
    color:white;
    font-family:'Roboto', sans-serif;
    font-size:20px;
}
.number{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding-bottom: 10px;
}
.repo{
    color:white;
    font-family: 'Roboto', sans-serif;
    padding-left:10px;
}
.social__upper > .MuiSvgIcon-root {
    font-size:30px;
}
